@font-face {
  font-family: "theyearofhandicrafts";
  font-style: normal;
  font-weight: 400;
  src: url(TheYearOfHandicrafts-Regular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "theyearofhandicrafts";
  font-style: normal;
  font-weight: 700;
  src: url(TheYearOfHandicrafts-Bold.ttf) format("truetype");
  font-display: swap;
}

/* لا تفرض محاذاة وسط المتجر كله */
body {
  font-family: "theyearofhandicrafts", sans-serif;
}
